# Visual Studio user specific files
cs500_j.zapata/.vs/*
FinalProject/Project/.vs/*

#binary files
cs500_j.zapata/bin/*
cs500_j.zapata/obj/*
cs500_j.zapata/Outputs/*
cs500_j.zapata/Resources/*

bin/*
obj/*
CS500/include/*
CS500/lib/*
.vs/*

*.obj
